.student {
	display: flex;
	flex-direction: column;
	row-gap: 16px;
	width: 100%;
	max-width: 1060px;
}

.topActions {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
}

.studentName {
	color: $ds-gray-10;
	font-size: 26px;
	font-weight: 700;

	@include sm {
		font-size: 40px;
	}
}

.studentFormHeader {
	display: flex;
	flex-direction: column;
	padding-bottom: 16px;
	row-gap: 8px;

	@include sm {
		flex-direction: row;
		justify-content: space-between;
	}
}

.builder {
	display: flex;
	flex-direction: column;
	row-gap: 40px;
}

.templateSection {
	display: flex;
	flex-direction: column;
	row-gap: 8px;
}

.templateContainer {
	display: flex;
	flex-direction: column;
	row-gap: 8px;
}

.template {
	padding: 24px 16px;
	background: $ds-white;
	color: $ds-gray-10;
	font-size: 16px;
}

.addTemplate {
	@extend .template;
	min-height: unset;
}

.addTemplateIconContainer {
	display: contents;
}

.addTemplateIcon {
	fill: $ds-azure;
	align-self: flex-end;
	transition: 0.3s;

	&.cancel {
		fill: $ds-alizarin-red;
		transform: rotate(135deg);
	}
}
