.student {
	display: flex;
	flex-direction: column;
	row-gap: 16px;
	width: 100%;
	max-width: 1060px;
}

.topActions {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
}

.studentName {
	color: $ds-gray-10;
	font-size: 26px;
	font-weight: 700;

	@include sm {
		font-size: 40px;
	}
}

.studentFormHeader {
	display: flex;
	flex-direction: column;
	row-gap: 24px;

	@include sm {
		flex-direction: row-reverse;
		justify-content: space-between;
	}
}
