.wrapper {
	display: flex;
	flex-direction: column;
	width: 100vw;
	min-height: 100vh;
	background-color: $ds-gray-1;
}

.body {
	display: flex;
	justify-content: center;
	width: 100%;
	padding: 16px;

	@include sm {
		padding: 42px 16px;
	}
}
